.notes-widget-section{
    box-sizing: border-box;
    padding: 10px 20px;
    color: #000;
    width: 100%;
    height: 100%;

    background: #F1C75B;
    border-radius: 18px;
}

.notes-widget-section textarea {
    box-sizing: border-box;
    width: 100%;
    height: 85%;

    padding: 10px;
    border: 0;
    background: transparent;
}