.category-section-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 40px 120px;
}

.category-main-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-category-section {
    width: 25%;
    height: 100%;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    font-family: Roboto;
}

.user-category-section h1 {
    color: #72DB73;
    font-family: 'Single Day';
    font-weight: 500;
}

.user-category-section h2 {
    color: #fff;
    font-size: 45px;
}

.user-category-choices {
    box-sizing: border-box;
    height: fit-content;
    max-height: 300px;
    width: 250px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 20px;
}

.user-category-choices li {
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    padding: 5px 12px;
    border-radius: 25px;

    background: #148A08;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    display: flex;
    align-items: center;

    border: 0;
    background: transparent;
}

.close-button:hover {
    cursor: pointer;
}

.warning-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.warning-icon {
    color: #FF0000;
}

.warning-container p{
    color: #FF0000;
    font-size: 12px;
}

.next-page-btn {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 25px;

    align-self: flex-end;

    color: #fff;
    background: #148A08;

    border: 0;

    transition: opacity 0.3s linear;
}

.next-page-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}